body {
    margin: 0;
    padding: 0;
}

.part-one {
    height: 200px;
    background-image: url('banner3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 700px;
    padding-top: 100px;
    color: white;
}

.checkmark {
    font-size: 20px;
    color: green;
    margin-right: 10px;
}